$background: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%)
$background-image2 url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-beer-1b.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f143277f2561fddfcea0460cc4736b00")
$colorSection #750960;
$borderSection: 2px double;
$marginSection: 20px;
$background-color-Bhover: #b9d1eb;
