@use '_variables.scss';
@mixin section {
            background-image: $background-image2;
            color: $colorSection;
            border: $borderSection;
            margin: $marginSection;
}
@mixin budinImgHover {
                        background-color:$background-color-Bhover;
                        animation-name: budinfondo;
                        animation-duration: 4s;
}
body{
    margin:20px;
    padding:0;
    overflow: auto;
    box-sizing: border box;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("https://i.pinimg.com/736x/45/22/a0/4522a033f5ae354d8eab05819fa67aef.jpg");
    .div1 {
        background: $background;
        padding: 20px;
        margin: 5px;
        border-color:#cf6dbc;
        border-width: 2px;
        border-style: double;
        .header1 {
            background: $background;
            color:#d60b5c;
            letter-spacing: 5px;
            text-shadow:1px 3px 5px#cf6dbc;
            width: 300px;
            border: 2px double;
            margin: 20px;
            padding: 10px;
        }
        .header2 {
            color:#b3094d;
            height: auto;
        }
    }
    .menu{
        background-color:#f5c2d6;
        margin: 10px;
        padding: 10px;
        .divmenu{
            display: flex;
            justify-content: space-around;
            li{
                display: inline-block;
                list-style-type: none;
                font-size: 20px;
                a:link{
                    text-decoration:none;
                    color:#25044b;
                }
                a:hover{
                    background-color: #b9d1eb;
                    color:#b3094d;
                    text-decoration: underline;
                }
                a:visited{
                    color:#750960;
                }
            }
        }
    }
    main {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 6;
        .sectiontitle {
            color:#b3094d;
            text-decoration:underline;
            height: 40px;
        }
        .header4 {
            color:#b3094d;
            height: 40px;
        }
        .articleheader {
            color:#750960;
            font-size: 20px;
        }
        .articletxt {
            color:#750960;
            line-height: 25px;
        }
        .sectionSN {
            @include section;
            padding: 20px;
        }
        .sectionR {
            @include section;
            padding: 30px;
        }
        .sectionC {
            @include section;
            padding: 20px;
            table input {
                font-family: "Josefin Sans";
                color:#750960;
                font-size: 16px;
                line-height: 20px;
            }
            table textarea {
                font-family: "Josefin Sans";
                color:#750960;
                font-size: 16px;
                line-height: 20px;
                max-width: 300%;
            }
        .sectionP {
            @include section;
            padding: 20px;
            max-width: 700px;
            .budines {
                background: $background;
                border-color:#cf6dbc;
                border-width: 2px;
                border-style: double;
                display: grid;
                grid-template-columns: 2;
                grid-template-rows: 3;
                max-width: 650px;
                .budinesbordes {
                    border-width: 3px;
                    border-color:#750960;
                    border-style: double;
                }
                .budinesimg {
                    width: 15rem;
                    height: 15rem;
                    padding: 1rem;
                }
                .budinesimg1 {
                    grid-column: 1/2;
                    grid-row: 1;
                    @include budinImgHover;
                }
                .budinesimg2 {
                    grid-column: 2/2;
                    grid-row: 1;
                    @include budinImgHover;
                }
                .budinesimg3 {
                    grid-column: 1/2;
                    grid-row: 2;
                    @include budinImgHover;
                }
                .budinesimg4 {
                    grid-column: 2/2;
                    grid-row: 2;
                    @include budinImgHover;
                }
                .budinesimg5 {
                    grid-column: 1/2;
                    grid-row: 3;
                    @include budinImgHover;
                }
                .budinesimg6 {
                    grid-column: 2/2;
                    grid-row: 3;
                    @include budinImgHover;
                }
                @keyframes budinfondo {
                    from {background-color: #b9d1eb;}
                    to {background-color:#f876de;}
                }
            }
        }
        .sectionU {
            @include section;
            padding: 20px;
            .lovewink {
                width: 20rem;
            }
        }
        footer {
            background: $background;
            color: #750960;
            grid-column: 1/6;
            grid-row: 6;
        }
    }
}
@media screen and (min-width:320px) and (max-width: 768px) {
	body {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
	body {
    grid-template-columns: 3fr;
    grid-template-rows: 6r;
    }
}}