*{
    margin:0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("https://i.pinimg.com/736x/45/22/a0/4522a033f5ae354d8eab05819fa67aef.jpg");
    margin: 20px;
}
main {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 6;
}
.header1 {
    background: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
    color:#d60b5c;
    letter-spacing: 5px;
    text-shadow:1px 3px 5px#cf6dbc;
    width: 300px;
    border: 2px double;
    margin: 20px;
    padding: 10px;
}
.header2 {
    color:#b3094d;
    height: auto;
}
.div1 {
    background: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
    padding: 20px;
    margin: 5px;
    border-color:#cf6dbc;
    border-width: 2px;
    border-style: double;
}
.sectiontitle {
    color:#b3094d;
    text-decoration:underline;
    height: 40px;
}
.header4 {
    color:#b3094d;
    height: 40px;
}
.articleheader {
    color:#750960;
    font-size: 20px;
}
.articletxt {
    color:#750960;
    line-height: 25px;
}
.menu{
    background-color:#f5c2d6;
    margin: 10px;
    padding: 10px;
}
.menu li{
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
}
.menu li a:link{
    text-decoration:none;
    color:#25044b;
}
.menu li a:hover{
    background-color: #b9d1eb;
    color:#b3094d;
    text-decoration: underline;
}
.menu li a:visited{
    color:#750960;
}
.divmenu{
    display: flex;
    justify-content: space-around;
}
.sectionSN {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-beer-1b.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f143277f2561fddfcea0460cc4736b00");
    color: #750960;
    border: 2px double;
    padding: 20px;
    margin: 20px;
}
.sectionR {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-beer-1b.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f143277f2561fddfcea0460cc4736b00");
    color: #750960;
    border: 2px double;
    margin: 20px;
    padding: 30px;
}
.sectionC {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-beer-1b.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f143277f2561fddfcea0460cc4736b00");
    color: #750960;
    border: 2px double;
    margin: 20px;
    padding: 20px;
}
table input {
    font-family: "Josefin Sans";
    color:#750960;
    font-size: 16px;
    line-height: 20px;
}
table textarea {
    font-family: "Josefin Sans";
    color:#750960;
    font-size: 16px;
    line-height: 20px;
    max-width: 300%;
}
.sectionP {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-beer-1b.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f143277f2561fddfcea0460cc4736b00");
    color: #750960;
    border: 2px double;
    margin: 20px;
    padding: 20px;
    max-width: 700px;
}
.budines {
    background: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
    border-color:#cf6dbc;
    border-width: 2px;
    border-style: double;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    max-width: 650px;
}
.budinesimg {
    width: 15rem;
    height: 15rem;
    padding: 1rem;
}
.budinesimg1 {
    grid-column: 1/2;
    grid-row: 1;
}
.budinesimg1:hover {
    background-color:#b9d1eb;
    animation-name: budinfondo;
    animation-duration: 4s;
}
.budinesimg2 {
    grid-column: 2/2;
    grid-row: 1;
}
.budinesimg2:hover {
    background-color:#b9d1eb;
    animation-name: budinfondo;
    animation-duration: 4s;
}
.budinesimg3 {
    grid-column: 1/2;
    grid-row: 2;
}
.budinesimg3:hover {
    background-color:#b9d1eb;
    animation-name: budinfondo;
    animation-duration: 4s;
}
.budinesimg4 {
    grid-column: 2/2;
    grid-row: 2;
}
.budinesimg4:hover {
    background-color:#b9d1eb;
    animation-name: budinfondo;
    animation-duration: 4s;
}
.budinesimg5 {
    grid-column: 1/2;
    grid-row: 3;
}
.budinesimg5:hover {
    background-color:#b9d1eb;
    animation-name: budinfondo;
    animation-duration: 4s;
}
.budinesimg6 {
    grid-column: 2/2;
    grid-row: 3;
}
.budinesimg6:hover {
    background-color:#b9d1eb;
    animation-name: budinfondo;
    animation-duration: 4s;
}
@keyframes budinfondo {
    from {background-color: #b9d1eb;}
    to {background-color:#f876de;}
}
.budinesbordes {
    border-width: 3px;
    border-color:#750960;
    border-style: double;
}
.sectionU {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-beer-1b.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f143277f2561fddfcea0460cc4736b00");
    color: #750960;
    border: 2px double;
    margin: 20px;
    padding: 20px;
}
.lovewink {
    width: 20rem;
}
footer {
    background: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
    color: #750960;
    grid-column: 1/6;
    grid-row: 6;
}
@media screen and (min-width:320px) and (max-width: 768px) {
	body {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
	body {
    grid-template-columns: 3fr;
    grid-template-rows: 6r;
    }
}